@import "tailwindcss";

@theme {
  --color-primary: #091426;
  --color-on-primary: #ffffff;
  --color-primary-container: #1e293b;
  --color-on-primary-container: #8590a6;
  --color-secondary: #006591;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #39b8fd;
  --color-on-secondary-container: #004666;
  --color-background: #fbf8fa;
  --color-on-background: #1b1b1d;
  --color-surface: #fbf8fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3f4;
  --color-surface-container: #f0edef;
  --color-surface-container-high: #eae7e9;
  --color-surface-container-highest: #e4e2e3;
  --color-on-surface: #1b1b1d;
  --color-on-surface-variant: #45474c;
  --color-outline: #75777d;
  --color-outline-variant: #c5c6cd;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
}